.page-layout {
  margin: 3.7037037037% 0
}

.layout-wrapper {
  padding: 0 3.7037037037%
}

.layout-wrapper-inside {
  padding: 0 1.8518518519%
}

.layout,.layout-fixed {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto
}

.layout:after,.layout-fixed:after {
  content: " ";
  display: block;
  clear: both
}

.layout-fluid,.layout-fluid .layout:not(.layout-fixed) {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}

.layout-fluid:after,.layout-fluid .layout:not(.layout-fixed):after {
  content: " ";
  display: block;
  clear: both
}


@media(min-width: 54em) {
  .layout+.layout.collapse-top.accordion-chrome__footer {
      margin-top:3.7037037037%
  }
}


@media(min-width: 54em) {

  .page-layout {
      margin: 2.4390243902% 0
  }

  .layout+.layout {
      margin-top: 2.4390243902%
  }

  .layout>[class*=layout-]+[class*=layout-] {
      margin-top: 0
  }

  .layout-halfling {
      width: 48.7804878049%;
      float: left;
      margin-right: 2.4390243902%;
      margin-top: 2.4390243902%
  }

  .layout-halfling:nth-child(2n+2) {
      float: right;
      margin-right: 0
  }

  .layout-halfling:nth-child(1),.layout-halfling:nth-child(2) {
      margin-top: 0
  }

  .layout-one-third {
      width: 31.7073170732%;
      float: right;
      margin-right: 0
  }

  .layout-one-third:first-child {
      width: 31.7073170732%;
      float: left;
      margin-right: 2.4390243902%
  }

  .layout-two-thirds {
      width: 65.8536585366%;
      float: right;
      margin-right: 0
  }

  .layout-two-thirds:first-child {
      width: 65.8536585366%;
      float: left;
      margin-right: 2.4390243902%
  }

  .layout-one-fourth {
      width: 23.1707317073%;
      float: right;
      margin-right: 0
  }

  .layout-one-fourth:first-child {
      width: 23.1707317073%;
      float: left;
      margin-right: 2.4390243902%
  }

  .layout-three-fourths {
      width: 74.3902439024%;
      float: right;
      margin-right: 0
  }

  .layout-three-fourths:first-child {
      width: 74.3902439024%;
      float: left;
      margin-right: 2.4390243902%
  }

  .layout-third {
      width: 31.7073170732%;
      float: left;
      margin-right: 2.4390243902%
  }

  .layout-third:nth-child(3n+3) {
      float: right;
      margin-right: 0
  }

  .layout-fourth {
      width: 23.1707317073%;
      float: left;
      margin-right: 2.4390243902%;      
  }

  .layout-fourth:nth-child(4n+4) {
      float: right;
      margin-right: 0
  }

  .layout-fifth {
      display: block;
      width: 20%;
      float: left
  }

  .layout-bleed>.layout-halfling,.layout-bleed .layout-one-third,.layout-bleed .layout-two-thirds,.layout-bleed .layout-one-fourth,.layout-bleed .layout-three-fourths {
      padding: 0 1.2195121951%
  }

  .layout-bleed>.layout-third {
      padding: 0 .8130081301%
  }

  .layout-bleed>.layout-fourth {
      padding: 0 .6097560976%
  }

  .layout-last {
      float: right;
      margin-right: 0
  }
}


.btn-lob:hover:not(.disabled), .btn-lob:hover:not(.disabled):visited {
  color: #323535;
  background-color: #fff;
  border-color: #fff;
}


/* SOCIAL ICONS STARTS HERE */

.btn-connect {
  display: inline-block;
  margin: 0 10px 10px;
  font-size: 23px;
  color: #767878;
}

.btn-connect:hover{
  opacity: .8;
}

.fa-facebook:hover{
  color: rgb(49, 127, 228);
}

.fa-instagram:hover{
  color: rgb(189, 18, 55);
}

.fa-x-twitter:hover{
  color: black;
}

.fa-youtube:hover{
  color: rgb(230, 17, 17);
}

.btn-connect-light-up .icon {
  background-position: 0 -27px
}

.highschool-share .share-text {
  margin-right: 10px
}

.highschool-share .fb-like {
  display: block;
  float: left;
  margin-top: -5px
}

.highschool-share .btn-connect,.highschool-share .icon {
  width: 22px;
  height: 22px;
  line-height: 22px;
  vertical-align: text-bottom
}

.highschool-share .btn-connect .icon {
  height: 24px;
  background-size: 100% auto;
  background-position: 0 -22px
}

/* SOCIAL ICONS ENDS HERE */



/* Log into facebook */

.footer-sign-in__logged-out .highlight{
  color: gray;
  font-size: 18px;
  text-decoration: none;
}

.footer-sign-in__logged-out .highlight:hover{
  color: rgb(0, 110, 255);
  text-decoration: underline;
  font-size: 18.3px;
}

/* Log into facebook ends here */



select:not(.component-library *),input[type=text]:not(.component-library *),input[type=date]:not(.component-library *),input[type=number]:not(.component-library *),input[type=email]:not(.component-library *),input[type=password]:not(.component-library *),input[type=search]:not(.component-library *),input[type=tel]:not(.component-library *),textarea:not(.component-library *) {
  box-sizing: border-box;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
  color: #242626;
  height: 38px;
  background-color: #fff;
  border: 1px solid #cdcdcf;
  text-align: left;
  padding: 6px 12px;
  border-radius: 3px;
  width: 100%;
  -o-box-shadow: inset 0 1px 2px rgba(8, 4, 4, 0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  transition: all .5s ease
}


.nav-y ul,.nav-y ol,.nav-y li,.nav-x ul,.nav-x ol,.nav-x li,.nav-jumbotron ul,.nav-jumbotron ol,.nav-jumbotron li,.nav-progress ul,.nav-progress ol,.nav-progress li {
  list-style: none;
  padding: 0;
  margin: 0
}

.nav-y>ul>li,.nav-y>ol>li {
  display: block
}

.nav-x {
  white-space: nowrap;
  font-size: 0
}

.nav-x .nav-y {
  white-space: normal
}

.nav-x>ol>li,.nav-x>ul>li,.nav-x>li {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  vertical-align: middle
}

.nav-x>ol>li+li,.nav-x>ul>li+li,.nav-x>li+li {
  margin-left: 20px
}

.footer-partners .nav-x {
  display: block;
  white-space: normal
}

.nav-lob .nav-title,.nav-dol .nav-title,.nav-lob .nav-title a,.nav-dol .nav-title a {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  color: #fff
}


.nav-lob .popular-product-price,.nav-dol .popular-product-price {
  display: inline-block;
  width: 43px;
  position: absolute;
  top: 0;
  right: 0
}

.nav-lob.open .nav-title,.open.nav-dol .nav-title,.nav-lob.open .nav-title a,.open.nav-dol .nav-title a {
  color: #fff
}

.nav-lob ul,.nav-dol ul {
  line-height: 20px
}

.nav-lob ul+.nav-title,.nav-dol ul+.nav-title {
  margin-top: 1em
}

.nav-lob li,.nav-dol li {
  margin: 0;
  font-size: 14px !important
}

.nav-lob li>a,.nav-dol li>a {
  color: #fff;
  font-weight: 400
}

@media(min-width: 54em) {
  .nav-lob li>a,.nav-dol li>a {
      color:#888;
      margin-left:0
  }
}

.nav-lob li>a, .nav-dol li>a {
  text-align: left;
  margin-left: 0
}


.nav-lob li>a:hover,.nav-dol li>a:hover {
  text-decoration: none;
  color: #3cd062
}



@media(min-width: 20em) {
  .nav-chrome-x>ul.layout-xsmall>li+li {
      border-left:1px solid #444;
      margin-left: -1px !important
  }

  .nav-chrome-x>ul.layout-xsmall>li+li a {
      border-top: none
  }
}

@media(min-width: 28em) {
  .nav-chrome-x>ul.layout-small>li+li {
      -o-box-shadow:-1px 0 0 #444;
      box-shadow: -1px 0 0 #444
  }

  .nav-chrome-x>ul.layout-small>li+li a {
      border-top: none
  }

  .nav-jumbotron {
      font-size: 16px
  }
}

@media(min-width: 54em) {
  .nav-jumbotron {
      font-size:23px
  }

  .nav-jumbotron>ul>li {
      padding: 0 1.35% !important
  }

  .nav-jumbotron>ul>li>a {
      padding: 1.4em 0
  }

  .nav-jumbotron .aux {
      display: inline
  }
}



.accordion-icon,.accordion-chrome__footer .accordion-toggle:after,.cms-accordion .accordion-segment .accordion-toggle:after,.accordion-icon-filter-menu,.accordion-chrome .accordion-toggle:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: .5em;
  margin-top: -4px;
}

.accordion-icon-filter-menu,.accordion-chrome .accordion-toggle:after {
  height: 7px;
  width: 12px;
  background-position: -14px -16px !important
}

.accordion-icon,.accordion-chrome__footer .accordion-toggle:after,.cms-accordion .accordion-segment .accordion-toggle:after {
  height: 8px;
  width: 8px;
  background-position: 0 0 !important
}

.accordion-segment .accordion-content {
  display: none;
  
}

.accordion-segment.open .accordion-content {
  display: block;
  
}

.accordion-toggle {
  cursor: pointer;
  display: block;
  position: relative
}

.promo-block .accordion-toggle {
  text-decoration: none
}

.accordion-header,.accordion-header .accordion-toggle,.accordion-header-segment,.accordion-header-segment .accordion-toggle {
  font-size: 18px;
  
}

.accordion-header:after,.accordion-header .accordion-toggle:after,.accordion-header-segment:after,.accordion-header-segment .accordion-toggle:after {
  display: none !important
}

.accordion-header.open .accordion-content,.accordion-header-segment.open .accordion-content {
  background: #fff;
  padding-top: 1em !important;
}

.accordion-header {
  position: relative;
  cursor: default !important;
  border-top: none;
  font-weight: bold !important
}

.accordion-header.accordion-toggle:after {
  display: none !important
}

.accordion-header-action {
  position: absolute;
  top: 15px;
  right: 1em;
  color: #888 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none
}

.accordion-chrome .accordion-toggle {
  position: relative;
  background: #fff;
  cursor: pointer;
  padding: 15px 1em;
  margin-bottom: 0;
  color: #2e3131 !important;
  font-size: 16px;
  font-weight: normal;
  text-transform: lowercase;
}

.accordion-chrome .accordion-toggle:hover {
  color: #323535;
  text-decoration: none
}

.accordion-chrome .accordion-toggle:first-letter {
  text-transform: uppercase
}

@media screen and (min-width: 992px) {
  .accordion-chrome .accordion-toggle {
      padding-left:0px
  }
}

.accordion-chrome .accordion-content {
  background: #fff;
}

.accordion-chrome .accordion-content.bg-white {
  background: #fff;
  padding-top: 1em !important;
}

.accordion-chrome .accordion-content .slider-values {
  color: #2e3131;
  margin-top: 14px;
}

@media screen and (min-width: 992px) {
  .accordion-chrome .accordion-content .slider-values {
      margin-right:-6px
  }
}

.accordion-chrome .accordion-content .enhanced-radio,.accordion-chrome .accordion-content .enhanced-checkbox:not(.colour-attribute) {
  border-color: #000
}

.accordion-chrome .accordion-content .enhanced-radio.selected,.accordion-chrome .accordion-content .enhanced-checkbox:not(.colour-attribute).selected {
  background-color: #000
}

.accordion-chrome .accordion-content .selected-label {
  font-weight: bold;
  color: #2e3131
}

.accordion-chrome .accordion-content li {
  color: #2e3131;
}

.accordion-chrome .accordion-content li>a {
  color: #2e3131;
}

.accordion-chrome .accordion-content li>a:hover {
  font-weight: 600
}

.accordion-chrome .accordion-content-inner>* {
  margin: 0
}

.accordion-chrome .accordion-content-inner>*+* {
  padding-top: 1em
}

.accordion-chrome .accordion-segment.open .accordion-toggle {
  font-weight: bold !important
}

.accordion-chrome .accordion-segment.open .accordion-toggle span {
  font-weight: normal;
  color: #828282
}

.accordion-chrome .accordion-segment.open .accordion-content {
  padding: 0 1em 1em
}

.accordion-chrome .accordion-segment.open .accordion-content .noUi-horizontal .noUi-handle {
  box-shadow: none;
  border-radius: 50%;
  border-color: #2e3131;
  background: #2e3131;
  width: 12px;
  height: 12px;
  top: -3px;
  right: -5px
}

.accordion-chrome .accordion-segment.open .accordion-content .noUi-horizontal .noUi-handle:before,.accordion-chrome .accordion-segment.open .accordion-content .noUi-horizontal .noUi-handle:after {
  content: none
}

.accordion-chrome .accordion-segment.open .accordion-content .noUi-horizontal .noUi-handle:focus {
  outline: none
}

.accordion-chrome .accordion-segment.open .accordion-content .noUi-target {
  background: #f2f2f2;
  border: none;
  height: 5px;
  margin-left: 8px;
  margin-right: 8px
}

.accordion-chrome .accordion-segment.open .accordion-content .noUi-touch-area {
  height: 24px;
  width: 24px;
  margin: -6px 0 0 -6px;
  cursor: pointer
}

@media screen and (min-width: 992px) {
  .accordion-chrome .accordion-segment.open .accordion-content {
      padding-left:0px
  }

  .accordion-chrome .accordion-segment.open .accordion-content .noUi-target {
      margin-right: -10px
  }
}

.accordion-chrome .accordion-divider {
  color: #f2f2f2;
  margin: 0px
}

@media screen and (max-width: 991px) {
  .accordion-chrome .accordion-divider {
      margin:0 16px
  }
}

.accordion-chrome .vuebar::-webkit-scrollbar {
  width: 2px !important
}

.accordion-chrome .vuebar:not(.vuebar--show-on-hover)::-webkit-scrollbar-thumb {
  background-color: #2e3131 !important
}

.refine-menu .accordion-chrome .accordion-toggle {
  position: relative;
  background-color: #fff;
  color: #888;
  font-weight: 600;
}

.refine-menu .accordion-chrome .accordion-toggle.fixed-to-top {
  box-sizing: border-box;
  position: fixed;
  top: 42px;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #e6e6e6;
}

.refine-menu .accordion-chrome .accordion-toggle.fixed-to-top+.accordion-content {
  padding-top: 60px !important
}

.refine-menu .accordion-chrome .accordion-toggle:hover {
  background-color: #fff
}

.refine-menu .accordion-chrome .accordion-toggle:after {
  margin-top: 0;
  content: "";
  position: absolute;
  width: 18px;
  height: 47px;
  right: 14px;
  top: 0;
  background-size: 16px;
  background-position: center
}

.open .refine-menu .accordion-chrome .accordion-toggle:after {
  transform: rotate(0deg)
}

.refine-menu .accordion-chrome .accordion-content {
  background: #fff
}

.refine-menu .accordion-chrome .accordion-segment {
  border-top: none;
  border-bottom: none
}

.refine-menu .accordion-chrome .accordion-segment.open .accordion-toggle:hover {
  color: #000 !important;
  background-color: #fff
}

.refine-menu .accordion-chrome .accordion-segment.open .accordion-toggle:after {
  background-position: center
}

.refine-menu .accordion-chrome .selection-preview {
  padding: 0 1em
}

.refine-menu .accordion-chrome .selection-preview .selection-preview-item {
  padding: 10px 5px 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  display: inline-block;
  color: #000;
  vertical-align: top;
  margin-top: -5px
}

.refine-menu .accordion-chrome .form-group-list li>label {
  display: inline-block;
  width: 100%
}

.refine-menu .accordion-chrome .form-group-list li>label>.enhanced-radio,.refine-menu .accordion-chrome .form-group-list li>label>.enhanced-checkbox {
  float: right
}

.refine-menu .accordion-chrome .form-group-list li>label>.enhanced-radio.colour-attribute,.refine-menu .accordion-chrome .form-group-list li>label>.enhanced-checkbox.colour-attribute {
  margin-top: 4px
}


@media(min-width: 54em) {
  .accordion-chrome__footer {
      margin:0
  }
}

.accordion-chrome__footer .accordion-toggle:after {
  width: 20px;
  height: 16px;
  opacity: .6;
  margin: -8px 0
}

@media(min-width: 54em) {
  .accordion-chrome__footer .accordion-toggle:after {
      display:none
  }
}

.accordion-chrome__footer .accordion-segment.open .accordion-toggle:after {
  opacity: 1;
  transform: rotate(180deg)
}

.accordion-switch .accordion-segment+.accordion-segment {
  margin-top: 2em
}

.accordion-switch .accordion-segment.open .accordion-toggle {
  display: none
}

.accordion-header-segment .nav-dol ul {
  text-transform: uppercase;
  line-height: 36px
}

.accordion-header-segment .nav-dol li>a {
  font-weight: normal;
  font-size: 14px;
  color: #767878;
  text-transform: none;
}

.accordion-header-segment .nav-dol li>a:hover {
  color: #000
}

.accordion-checkbox-2up ul {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: unset;
  margin-right: unset
}

.accordion-checkbox-2up ul:after {
  content: " ";
  display: block;
  clear: both
}

.accordion-checkbox-2up li {
  width: 46.1538461538%;
  float: left;
  margin-right: 7.6923076923%
}

.accordion-checkbox-2up li:nth-child(2) {
  margin-top: 0 !important
}

.accordion-checkbox-2up li:nth-child(2n+2) {
  float: right;
  margin-right: 0
}

.accordion-fixed-height .ps-container {
  max-height: 230px
}

.accordion-fixed-height .ps-container::-webkit-scrollbar {
  display: none
}

.accordion-fixed-height .form-group-list {
  margin-bottom: .2em
}




/* MINE MINE MINE MINE MINE */


.footer-container {
  background: #2e3131
}

.footer-subscribe {
  background: #242626;
  padding: 1.2em
}

.footer-subscribe .footer-subscribe-label{
  text-align: center
}

.footer-subscribe .footer-subscribe-button {
  font-weight: 400 !important;
  margin: 0 auto;
  float: unset;
  width: 45%
}

.footer-subscribe .footer-subscribe-label-text {
  vertical-align: middle;
  line-height: 35px;
  color: #fff !important;
  font-weight: 600;
}

.footer-subscribe .layout-main {
  margin-top: 1em !important
}

.footer-subscribe .action-station {
  padding: 2px 0 0 0
}

.footer-main {
  text-align: right;
  background: #2e3131;
  color: #888;
  padding: 0 1em 1em
}

.footer-main .nav-lob {
  padding: .5em 0;
  border-bottom: 1px solid #444
}

.footer-main .nav-lob+.nav-lob {
  margin-top: 0
}

.footer-main .nav-lob .nav-title {
  margin: 0
}

.footer-main .nav-lob .nav-title a {
  text-align: left;
  display: block;
  margin: 0
}

.footer-main .nav-lob .nav-title a:hover {
  text-decoration: none
}

.footer-main .nav-lob .accordion-content li a {
  display: block;
  padding: 5px 0;
  color: #adadad;
  text-decoration: none;
}


.footer-site-name {
font-size: 25px;
}



@media screen and (min-width: 510px) {
  .footer-site-name {
      display:block
  }
}

.footer-highschool,.footer-app-installs {
  text-align: center;
  padding-top: 10px
}

.footer-app-installs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  margin: 0 auto;
  -moz-column-gap: 8px;
  column-gap: 8px;
  padding-bottom: 8px
}

.footer-app-installs a {
  cursor: pointer
}

.footer-app-installs a:hover {
  text-decoration: none
}

.footer-partners {
  background: #242626;
  padding: 1.125em;
  display: block;
  margin: 0 auto;
  text-align: center
}

@media(min-width: 62em) {
  .footer-partners {
      margin:0
  }
}

.footer-partners nav ul {
  width: 100%
}

.terms-conditions ul {
  width: 100%
}

.terms-conditions li {
  margin-left: 0 !important;
  width: 100% !important;
  text-align: center !important;
  padding: 5px 0;
  margin-right: 6px
}

@media(min-width: 54em) {
  .terms-conditions li {
      width:auto !important;
      text-align: left;
      padding: 0
  }
}

.terms-conditions li>a {
  font-family: "Source Sans Pro",sans-serif
}

.terms-conditions li:after {
  display: none
}

@media(min-width: 54em) {
  .terms-conditions li:after {
      content:" ";
      display: inline;
      width: 1px;
      height: 18px;
      margin: 0 10px
  }
}

.terms-conditions li:last-child:after {
  display: none
}

@media(min-width: 54em) {
  .footer-subscribe .action-station {
      width:60%;
      padding-left: 2.4390243902%
  }

  .footer-subscribe .layout-main {
      margin-top: 0 !important
  }

  .footer-main {
      text-align: left;
      padding: 2.5em 1em
  }

  .footer-main .nav-lob {
      padding: 0;
      border-bottom: none
  }

  .footer-main .nav-lob .nav-title a{
      text-align: left;
      display: inline;
      padding: 0;
      cursor: text;
      text-decoration: none;
  }

  .footer-main .nav-lob .accordion-content {
      display: block !important
  }

  .footer-main .nav-lob .accordion-content li a {
      padding: 0
  }

  .footer-highschool {
      padding-top: 0
  }

  .footer-partners {
      display: block
  }
}

.security-icons {
  margin: 10px auto;
  padding-left: 0;
  text-align: center
}

.security-icons a {
  display: inline-block;
  width: 110px;
  margin: 0
}

.security-icons .icon-link-txt {
  font-weight: 400;
  color: #888;
  font-size: 14px
}

#trusted-badge {
  padding-top: 10px;
  text-align: center
}

.footer-highschool a {
  height: 26px;
  width: 26px;
  display: inline-block;
  margin-left: 5px
}

.footer-highschool a:hover {
  opacity: .8
}

.footer-highschool a img {
  height: 100%;
  width: 100%
}

.accordion-segment.open .accordion-toggle:after {
  transform: rotate(180deg)
}

.web-layout {
  display: flex;
  justify-content: center
}

.footer-sign-in {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px
}

.nav-title {
  font-size: 16px;
  color: #fff !important
}


.footer-container {
  background: #2e3131
}

.footer-subscribe {
  background: #242626;
  padding: 1.2em
}

.footer-subscribe .footer-subscribe-label {
  text-align: center
}

.footer-subscribe .footer-subscribe-button {
  font-weight: 400 !important;
  margin: 0 auto;
  float: unset;
  width: 45%
}

.footer-subscribe .footer-subscribe-label-text {
  vertical-align: middle;
  line-height: 35px;
  color: #fff !important;
  font-weight: 600
}

.footer-subscribe .layout-main {
  margin-top: 1em !important
}

.footer-subscribe .action-station {
  padding: 2px 0 0 0
}

.footer-main {
  text-align: right;
  background: #2e3131;
  color: #888;
  padding: 0 1em 1em
}

.footer-main .nav-lob {
  padding: .5em 0;
  border-bottom: 1px solid #444
}

.footer-main .nav-lob+.nav-lob {
  margin-top: 0
}

.footer-main .nav-lob .nav-title {
  margin: 0
}

.footer-main .nav-lob .nav-title a {
  text-align: left;
  display: block;
  margin: 0
}

.footer-main .nav-lob .nav-title a:hover {
  text-decoration: none
}

.footer-main .nav-lob .accordion-content li a {
  display: block;
  padding: 5px 0;
  color: #adadad
}

.footer-main .nav-lob.accordion-segment__payment-methods {
  width: 100%;
  margin: 0
}

@media(min-width: 54em) {
  .footer-main .nav-lob.accordion-segment__payment-methods {
      margin:3.7037037037% 0
  }
}


@media(min-width: 54em) {
  .footer-subscribe .action-station {
      width:60%;
      padding-left: 2.4390243902%
  }

  .footer-subscribe .layout-main {
      margin-top: 0 !important
  }

  .footer-main {
      text-align: left;
      padding: 2.5em 1em
  }

  .footer-main .nav-lob {
      padding: 0;
      border-bottom: none
  }

  .footer-main .nav-lob .nav-title a {
      text-align: left;
      display: inline;
      padding: 0;
      cursor: text
  }

  .footer-main .nav-lob .accordion-content {
      display: block !important
  }

  .footer-main .nav-lob .accordion-content li a {
      padding: 0
  }

  .footer-highschool {
      padding-top: 0
  }

  .footer-partners {
      display: block
  }
}

.icon-ios-app {
  width: 108px;
  height: 33px
}

.icon-google-play {
  width: 112px;
  height: 45px
}

.icon-huawei-app {
  width: 121px;
  height: 35px
}

.icon-facebook-sprite {
  width: 26px;
  height: 26px
}