.divider{
        display: flex;
            align-items: center;

            }

            .divider::before, .divider::after{

                content: "";
                    padding: 0.1px;
                        background-color:lightgray;
                            flex: 1;
                                margin: 8px;
                                }
}